---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
---

<div class="flex items-center">
  <Image
    class="rounded-md"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={67}
    height={50}
    src="~/assets/images/logo.png"
    alt="AstroWind Hero Image"
  ></Image>
  <span class="ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</div>
